* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #000;
  color: #f5f2f2;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.website-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  color: #15f315;
}

#price {
  font-size: 2em;
  color: #ffffff;
  margin-top: 3vh;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.chart-container {
  flex: 1;
  min-width: 60%;
  max-width: 100%;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

.chart-section {
  width: 100%;
}

.info-panel {
  flex: 1;
  min-width: 30%;
  max-width: 100%;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
}

.rsi-dominance, .market-cap {
  margin-bottom: 20px;
}

.rsi-dominance p, .market-cap h3 {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.time-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.time-btn {
  background-color: #212121;
  color: #a9a3a3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.time-btn:hover {
  background-color: #555;
}

.ai-opinion, .latest-news {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
}

.ai-opinion {
  flex: 1;
  min-width: 100%;
}

.latest-news {
  flex: 1;
  min-width: 100%;
}

.news-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.news-columns div {
  flex: 1;
  min-width: 45%;
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
}

.key-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

.submit-button {
  padding: 10px;
  background-color: #343434;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #50504f;
  transform: scale(1.05);
}